@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Special+Gothic+Expanded+One&display=swap');

body {
    background: linear-gradient(180deg, #03416b, #005377, #026879, #036e7a );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Inter;
    overflow: hidden;
}

h1 {
    color: white;
    font-size: 3rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputs input {
    height: 50px;
    font-size: 23px;
    font-weight: 600;
    padding: 4px;
    border-radius: 10px;
}

.inputs button {
    height: 3rem;
    font-size: 18px;
    font-weight: 600;
    background-color: #f25c54;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.inputs button:hover {
    background-color: #c54a44;
}

.inputs button:active {
    background-color: #9b3a35;
}

#risultato-prima {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

#calo-prima {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.altre {
    columns: white;
    font-size: 22px;
    text-transform: uppercase;
}

#incasso-totale {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}